/* General styling */
.reservation-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  margin-top: 50px;
}

/* Room cards styling */
.room-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.room-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.room-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.room-details {
  text-align: left;
  color: #333;
}

.room-details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.room-details p {
  margin: 5px 0;
}

.btn-primary {
  background-color: #ffcc00;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #ff9900;
}

.btn-secondary {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border: none;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #e0e0e0;
  color: #666;
}


/* Media Query for Mobile View */
@media (max-width: 768px) {
  .reservation-container {
    padding: 15px;
  }

  .room-card {
    flex-direction: column;
    padding: 15px;
  }

  .room-image {
    width: 100%;
  }

  .room-details h2 {
    font-size: 1.3em;
  }

  .btn-primary {
    padding: 8px 15px;
  }
}

/* Media Query for Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
  .reservation-container {
    padding: 20px;
  }

  .room-card {
    flex-direction: row;
    align-items: center;
  }

  .room-image {
    width: 40%;
    margin-right: 20px;
  }

  .room-details {
    width: 60%;
  }

  .btn-primary {
    align-self: flex-start;
  }
}
