<section class="access-section">
  <h2>Access to HOSHINOYA Tokyo</h2>
  <div class="map-container">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.9456011672857!2d139.76289041519594!3d35.68717478019245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bff33333333%3A0x3333f11111112222!2sHOSHINOYA%20Tokyo!5e0!3m2!1sen!2sjp!4v1698582200000!5m2!1sen!2sjp" 
      allowfullscreen>
    </iframe>
  </div>
  <div class="map-info">
    <p class="address">
      HOSHINOYA Tokyo<br>
      1 Chome-9-1 Ōtemachi, Chiyoda City, Tokyo 100-0004
    </p>
    <a href="https://www.google.com/maps/dir/?api=1&destination=1+Chome-9-1+%C5%8Ctemachi,+Chiyoda+City,+Tokyo+100-0004" target="_blank" class="view-map-btn">View Larger Map</a>
  </div>
</section>
